// Сбрасывание стилей
@import './reset.scss';
@import './switcher.scss';

// ШРИФТЫ
@font-face {
  font-family: Akzidenz;
  font-weight: 400;
  src: url(/fonts/AkzidenzGroteskPro-Regular.otf) format(opentype);
}
@font-face {
  font-family: Akzidenz;
  font-weight: 500;
  src: url(/fonts/AkzidenzGroteskPro-Md.otf) format(opentype);
}
@font-face {
  font-family: Akzidenz;
  font-weight: 700;
  src: url(/fonts/AkzidenzGroteskPro-BoldEx.otf) format(opentype);
}

/* ГЛОБАЛЬНЫЕ СТИЛИ ----------------------------*/
body {
  font-family: Akzidenz, sans-serif;
  transition: all 0.3s;
  overflow: auto;
  padding: 0 15px;
}

.dark-mode {
  background-color: rgb(39 39 42);
  color: #ffffff;

  .button {
    background-color: rgb(30 64 175);
    color: #ffffff;
    &:hover {
      background-color: rgb(30 58 138);
    }
  }

  .keyboard-button {
    background-color: rgb(30 64 175);
    color: #ffffff;
    transition: all 0.3s;
    &:hover {
      background-color: rgb(30 58 138);
    }
  }
}

// Игра-------------------------

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.logo {
  font-size: 70px;
  font-weight: 700;
}

.logo-mini {
  font-size: 50px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.game-img {
  margin-top: 30px;
  width: 100%;
  max-width: 400px;
}

.placeholders-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.letter-placeholder {
  margin: 0 5px;
  font-size: 25px;
  font-weight: 500;
}

.tries {
  display: flex;
  align-items: center;
  margin-top: 25px;
  font-size: 24px;
  .tries-left {
    font-size: 28px;
    margin-left: 5px;
    font-weight: 500;
    color: red;
  }
}

.keyboard {
  margin-top: 30px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(11, 1fr);
  gap: 15px;
}

.keyboard-button {
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.3s;
  font-size: 30px;
  font-weight: 500;
  background-color: rgb(226 232 240);
  &:hover {
    background-color: rgb(203 213 225);
  }

  &:disabled {
    opacity: 0.2;
  }
}

.button {
  margin-top: 20px;
  padding: 14px 18px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  background-color: rgb(226 232 240);
  transition: all 0.3s;

  &:hover {
    background-color: rgb(203 213 225);
  }
}

.result-header {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 700;
  &.win {
    color: #65a30d;
  }

  &.lose {
    color: #dc2626;
  }
}

.result-word {
  margin-top: 10px;
  font-size: 20px;
  span {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
  }
}

.quit-game {
  position: absolute;
  margin: 0;
  top: 20px;
  left: 20px;
}

// Адаптив

@media (max-width: 950px) {
  .quit-game {
    padding: 10px 10px;
  }

  .game-img {
    max-width: 300px;
  }

  .keyboard-button {
    padding: 5px 10px;
  }
}

@media (max-width: 750px) {
  .game-img {
    max-width: 250px;
  }

  .letter-placeholder {
    font-size: 18px;
  }

  .tries {
    font-size: 18px;

    .tries-left {
      font-size: 20px;
    }
  }

  .quit-game {
    font-size: 12px;
    left: 5px;
  }

  .switch-wrapper {
    right: 5px;
  }

  .switch {
    font-size: 14px;
  }

  .switcher-text {
    font-size: 14px;
  }

  .keyboard {
    gap: 21px;
    grid-template-columns: repeat(7, 1fr);
  }

  .keyboard-button {
    font-size: 25px;
  }
}

@media (max-width: 700px) {
  .logo {
    font-size: 50px;
  }

  .start-button {
    padding: 10px 10px;
  }
}

@media (max-width: 490px) {
  .logo {
    font-size: 33px;
  }

  .logo-mini {
    display: none;
  }
}

@media (max-width: 460px) {
  .keyboard {
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
  }
  .keyboard-button {
    font-size: 25px;
  }

  .game-img {
    max-width: 200px;
  }

  .switch-wrapper {
    top: 10px;
  }

  .quit-game {
    top: 10px;
  }
}

@media (max-width: 400px) {
  .keyboard {
    gap: 15px;
  }
  .keyboard-button {
    font-size: 20px;
  }
}
